<!DOCTYPE html>
<html lang="en">
<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>This website was created to check weather at a particular location using mapbox and weathestack API</p>
    <img class="potrait" src="/img/james.jfif">
    </div>
    {{>footer}} 
</body>
</html>